* {
  margin: 0;
  padding: 0;
}

.contenido {
  background: linear-gradient(to right bottom, #FF6833, #A8FF33);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontenido {
  background-color: aqua;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px black;
  margin-bottom: 10px;
}

.head h1 {
  color: rgb(7, 6, 6);
  text-align: center;
  margin: 30px 0;
}

.tareaIngresada {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: rgb(246, 249, 249);
  background-color: black;
  border: 1px solid wheat;
  border-radius: 10px;
}

.buttonAgregar{
  width: 100px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: chocolate;
  cursor: pointer;
}

.listadoTareas {
  display: flex;
  margin: 20px 0;
  border: 1px solid #460cce;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}

.botonCompletar,
.botonEliminar,
.botonEditar {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 25px;
  border-radius: 60%;
}

.botonCompletar {
  color: red;
  margin-right: 10px;
}

.botonEditar {
  color: cornflowerblue;
  margin-right: 10px;
}

.botonEliminar {
  color: rgb(16, 34, 34);
}

.completado {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: bisque;
  opacity: 0.6;
}

.listaFinal {
  outline: none;
  pointer-events:none;
  width: 70%;
  background-color: aqua;
  border: none;
  color: rgb(5, 4, 5);
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input :focus,
button :focus{
  outline: none;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
